<div class="wrapper">
  <section class="top">
    <a class="back" routerLink="/">
      <i class="fa fa-arrow-left"></i>
    </a>
    <span class="title">{{prop.name}}</span>
  </section>
  <section class="units">
    <div class="unit">
      <div class="selection" (click)="showOptions(true)">
        <span> {{nameFrom}} </span>
        <a class="opt">
          <i class="fa fa-caret-down"></i>
        </a>
      </div>
      <input onfocus="this.select()" (keyup)="changeValues($event.target)" [(ngModel)]="firstInputValue" placeholder="0"
        type="text" class="result">
    </div>
    <div class="unit">
      <div class="selection" (click)="showOptions(false)">
        <span> {{nameTo}} </span>
        <a class="opt">
          <i class="fa fa-caret-down"></i>
        </a>
      </div>
      <input disabled [(ngModel)]="secondInputValue" placeholder="0" type="text" class="result">
    </div>
  </section>
  <div class="options-wrapper" #options>
    <div class="options">
      <ul>
        <li class="item" (click)="changeOption(i)" *ngFor="let unit of prop.units; let i = index">{{unit.name}}</li>
      </ul>
    </div>
    <div class="cancel">
      <button class="btn btn-primary" (click)="hideOptions()">Cancel</button>
    </div>
  </div>
</div>